<div class="container db-social">
  <div class="jumbotron jumbotron-fluid"></div>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-xl-11">
        <div *ngFor="let employee of employees; let i = index">
          <div *ngIf="isOne(employee.id)">
            <div class="widget head-profile has-shadow">
              <div class="widget-body pb-0">
                <div class="row d-flex align-items-center">
                  <div
                    class="col-xl-4 col-md-4 d-flex justify-content-lg-start justify-content-md-start justify-content-center"
                  >
                    <ul style="text-align: center">
                      <li>
                        <div class="counter">{{ employee.empl_id }}</div>
                        <div class="heading">ID No.</div>
                      </li>
                      <li style="padding-right: 1rem; padding-left: 0">
                        <div class="counter">{{ employee.seating }}</div>
                        <div class="heading">Seating</div>
                      </li>
                      <li style="padding-right: 0; padding-left: 0">
                        <div class="counter">{{ employee.joining }}</div>
                        <div class="heading">Joining</div>
                      </li>
                    </ul>
                  </div>
                  <div class="col-xl-4 col-md-4 d-flex justify-content-center">
                    <div class="image-default">
                      <img
                        class="rounded-circle"
                        src="https://bootdey.com/img/Content/avatar/avatar5.png"
                        alt="..."
                      />
                    </div>
                    <div style="margin-top: 2rem" class="infos">
                      <h2>{{ employee.name }}</h2>
                      <div class="location">
                        {{ employee.role }} | {{ employee.gender }}
                      </div>
                      <div class="location">{{ employee.email }}</div>
                      <div class="location">{{ employee.phone_no }}</div>
                      <div class="justify-content-center">
                        <div class="follow">
                          <a
                            data-toggle="modal"
                            data-target="#exampleModal1"
                            class="btn btn-shadow"
                          >
                            <i
                              (click)="updateIndex(i)"
                              class="la la-user-plus"
                            ></i
                            >Edit Profile</a
                          >
                          <!-- <button
                                                type="button"
                                                class="btn btn-primary btn-sm"
                                              >
                                                <img
                                                  src="assets/img11.png"
                                                  style="width: 25px; height: 25px"
                                                  title="muscle icons"
                                                />
                                                +1
                                              </button> -->
                        </div>
                      </div>
                    </div>

                    <div
                      class="modal"
                      id="exampleModal1"
                      tabindex="-1"
                      role="dialog"
                      aria-labelledby="exampleModalLabel"
                      aria-hidden="true"
                    >
                      <div
                        class="modal-dialog modal-dialog-centered"
                        role="document"
                      >
                        <div class="modal-content">
                          <div class="modal-header">
                            <div class="modal-title" id="exampleModalLabel">
                              EDIT PROFILE
                            </div>
                            <button
                              type="button"
                              class="close"
                              data-dismiss="modal"
                              aria-label="Close"
                            >
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <!--logic-->

                          <div class="modal-body">
                            <div
                              class="container d-flex justify-content-center align-items-center"
                            >
                              <div class="form-group">
                                <form
                                  #EditForm="ngForm"
                                  class="form-row justify-content-center align-items-center"
                                  style="
                                    display: flex;
                                    flex-wrap: wrap;
                                    margin: 5px;
                                  " >

                                  <div style="padding: 10px" class="form-group col-md-6">
                                    <label for="exampleInputEmail1">EmployeeID</label >

                                    <input
                                      name="empl_id"
                                      type="text"
                                      class="form-control"
                                      id="empl_id"
                                      aria-describedby=""
                                      [(ngModel)]="employee.empl_id"
                                    />
                                  </div>



                                  <div
                                    style="padding: 10px"
                                    class="form-group col-md-6"
                                  >
                                    <label for="exampleInputPassword1"
                                      >Joining Year</label
                                    >
                                    <div>
                                      <input
                              
                                        name="joining"
                                        minlength="3"
                                        maxlength="5"
                                        type="number"
                                        class="form-control"
                                        id="exampleInputPassword1"
                                        [(ngModel)]="employee.joining"
                                      />
                                    </div>
                                  </div>

                                  <div
                                    style="padding: 10px"
                                    class="form-group col-md-6"
                                  >
                                    <label for="exampleInputPassword1"
                                      >Seating</label
                                    >
                                    <input
                                    
                                      name="seating"
                                      maxlength="10"
                                      type="text"
                                      class="form-control"
                                      id="exampleInputPassword1"
                                      [(ngModel)]="employee.seating"
                                    />
                                  </div>

                                  <div
                                    style="padding: 10px;"
                                    class="form-group col-md-6"
                                  >
                                    <label for="exampleInputPassword1">Gender</label>
                                    <select
                                    [(ngModel)]="employee.gender"
                                      name="gender"
                                      class="form-select"
                                      aria-label="Default select example"
                                       >
                                      <option value="{{male}}">Male</option>
                                      <option value="{{female}}">Female</option>
                                      <option value="{{na}}">N/A</option>
                                    </select>
                                  </div>

                                  <div
                                    style="padding: 10px"
                                    class="form-group col-md-6"
                                  >
                                    <label for="exampleInputPassword1"
                                      >Designation</label
                                    >
                                    <input
                                      name="role"
                                      type="text"
                                      class="form-control"
                                      id="exampleInputPassword1"
                                      [(ngModel)]="employee.role"
                                    />
                                  </div>

                                  <div
                                    style="padding: 10px"
                                    class="form-group col-md-6"
                                  >
                                    <label for="exampleInputPassword1"
                                      >Phone no</label
                                    >
                                    <input
                                      name="phone_no"
                                      type="text"
                                      maxlength="11"
                                      class="form-control"
                                      id="exampleInputPassword1"
                                      [(ngModel)]="employee.phone_no"
                                    />
                                  </div>
                                  <button
                                  (click)="updateEmployee(1,EditForm.value.empl_id ,
                                  EditForm.value.joining,
                                  EditForm.value.seating, EditForm.value.gender, EditForm.value.role, EditForm.value.phone_no
                                )"
                              
                                  type="submit"
                                    class="btn btn-primary"
                                  >
                                    Update
                                  </button>
                                </form>
                              </div>
                            </div>
                          </div>

                          <div class="modal-footer">
                            <button
                              type="button"
                              class="btn btn-secondary"
                              data-dismiss="modal"
                              id="close-button"
                            >
                              Close
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div
                    style="margin-top: 0px"
                    class="col-xl-4 col-md-4 d-flex justify-content-center justify-content-lg-end justify-content-md-end"
                  >
                    <div class="infos">
                      <h2>
                        <img
                          style="width: 40px; height: 40px; margin-bottom: 2px"
                          src="assets/img12.png"
                        />
                        Powered Tech
                      </h2>
                      <div *ngFor="let emptech of emptech">
                        <div *ngIf="isOne(emptech.emp_id)">
                          <div *ngFor="let techstack of techstack">
                            <div
                              *ngIf="isEqual(emptech.ts_id, techstack.tech_id)"
                            >
                              <div
                                class=""
                                style="
                                  text-decoration-color: blueviolet;
                                  margin-bottom: 1px;
                                  margin-left: -4px;
                                "
                              >
                                {{ techstack.ts_name }}

                                <img
                                  style="width: 15px; height: 15px"
                                  src="https://media.tenor.com/bH5qXUAuk4kAAAAC/fire.gif"
                                />
                                <!-- <span class="circle" style="display: inline-block;"> -->
                                <span
                                  style="
                                    margin-left: 0px;
                                    font-size: medium;
                                    margin-bottom: 2px;
                                  "
                                >
                                  {{ emptech.endorse }}</span
                                >
                                <!-- </span>   -->
                              </div>

                              <!-- <p class="text-center role">
                                <span > | </span>
                              </p> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- TECH STACKK -->
                  <!-- <div style="margin:auto; text-align: center; padding: 3px;" >     
                                        
                                        <div class="btn-group dropup"  >
                                        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          Powered TechStack
                                        </button>
                                      
                                        <div class="dropdown-menu">
                                          <div>
                                            <div *ngFor="let emptech of emptech">
                                                <div *ngIf="isEqual(employee.id,emptech.emp_id)">
                                              <div *ngFor="let techstack of techstack">
                                                <div *ngIf="isEqual(emptech.ts_id, techstack.tech_id)">
                                                  <li><a class="dropdown-item" href="#">{{techstack.ts_name}}  
                                                    <img style="width: 25px; height: 25px; " src="https://media.tenor.com/bH5qXUAuk4kAAAAC/fire.gif" />  <span class="circle" style="display: inline-block;">{{emptech.endorse}}</span> </a>
                                                   </li> 
                                                    <p class="text-center role">
                                                <span > | </span>
                                              </p>
                                            </div>
                                            </div></div>
                                          </div>
                                          </div> 
                                          </div>
                                       </div>
                                          </div> -->

                  <!-- </div>
                            </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
